/*Fontes: 
font-family: 'Perpetua Titling MT', sans-serif; 
font-family: 'Numans', sans-serif;
font-family: 'Nunito', sans-serif; */


/*Configuração Geral Css*/

*{
    padding: 0;
    margin: 0;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    overflow-x: hidden;
}

/*Header Superior*/

.ContainerHeaderSuperior{
    font-family: 'Numans', sans-serif;

    padding: 20px;
    width: 90vw;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.ContainerHeaderSuperior a{
    color: rgba(3, 48, 89, 1); 
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 10px;
}

.ContainerHeaderSuperior a:hover{
   color: rgba(5, 131, 242, 1);
}

.ContainerHeaderSuperior img{
    width: 30px;
}

.ContainerHeaderSuperior_BtnAirbnb{
    border: 1px solid rgba(3, 48, 89, 1);
    padding: 5px 10px;
    border-radius: 20px;
}

.ContainerHeaderSuperior_BtnAirbnb:hover {
    border: 1px solid rgba(5, 131, 242, 1);
}

@media screen and (max-width: 768px){
    .ContainerHeaderSuperior p{
        display: none;
    }
    .ContainerHeaderSuperior_BtnAirbnb{
        border: none;
    }
    .ContainerHeaderSuperior_BtnAirbnb:hover {
        border:none;
    }
}

/*Configuração geral da capa principal, que junta a capa e o header*/

.ContainerCapaPrincipal{
    background-image: url(./assets/images/ImgBGCapa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Header - Barra principal - dentro da capa inicial do site*/

header{
    backdrop-filter: blur(5px);
    font-family: 'Numans', sans-serif;
    font-size: 16px;
    padding: 10px 0px;
}

header div{
    width: 90vw;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 70px;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

header a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

header a:hover{
    color: rgba(3, 48, 89, 1);
}

@media screen and (max-width: 768px){
    header div{
        justify-content: center;
    }
    header ul{
        display: none;
    }
}

/*Capa */

.ContainerCapa{
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerCapa div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0px 10vh 0px;
}

.ContainerCapa h1{
    text-align: center;
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: 64px;
    color: white;
    max-width: 752px;
}

.ContainerCapa p{
    color: white;
    width: 80vw;
    max-width: 598px;
    font-family: 'Numans', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
}

.ContainerCapa button{
    background-color: rgba(115, 32, 2, 1);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.255);
}

.ContainerCapa button:hover{
    background-color: rgb(128, 34, 0);
}

.ContainerCapa a{
    color: white;
    text-decoration: none;
    font-family: 'Numans', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 768px){
    .ContainerCapa h1{
        font-size: 40px;
    }
    .ContainerCapa p{
        font-size: 14px;
    }
    
    .ContainerCapa a{
        font-size: 14px;
    }
}

/* Sessão sobre tecnologia */

.ContainerTecnologia{
    width: 90vw;
    margin: auto;
    margin-top: 20px;
}

.ContainerTecnologia img{
    width: 250px;
}

.ContainerTecnologia h2{
    font-family: 'Numans', sans-serif;
    width: 100%;
    max-width: 650px;
    font-size: 20px;
    font-weight: 100;
}

.ContainerTecnologia p{
    font-family: 'Numans', sans-serif;
    width: 100%;
    max-width: 560px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: rgba(58, 58, 58, 1);
}

.ContainerTecnologia a{
    color: rgba(4, 99, 7, 1);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 768px){
    .ContainerTecnologia img{
        width: 200px;
    }
    
    .ContainerTecnologia h2{
        font-size: 16px;
    }
    
    .ContainerTecnologia p{
        font-size: 14px;
    }
    
    .ContainerTecnologia a{
        font-size: 12px;
    }
}

/* Sessão sobre tecnologia */

.ContainerAreaInterna{
    width: 90vw;
    margin: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

.ContainerAreaInterna h2{
    font-family: 'Numans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    border-left: 3px solid rgba(5, 131, 242, 1);
    padding:10px;
    margin-bottom: 10px;
}

.ContainerAreaInterna p{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    max-width: 500px ;
}


@media screen and (max-width: 768px){
    .ContainerAreaInterna h2{
        font-size: 16px;
    }
    
    .ContainerAreaInterna p{
        font-size: 14px;
    }
}