/*Fontes: 
font-family: 'Perpetua Titling MT', sans-serif; 
font-family: 'Numans', sans-serif;
font-family: 'Nunito', sans-serif; */


/*Configuração Geral Css*/

*{
    padding: 0;
    margin: 0;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    overflow-x: hidden;
}

/*Header Superior*/

.ContainerHeaderSuperior{
    font-family: 'Numans', sans-serif;

    padding: 20px;
    width: 80vw;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.ContainerHeaderSuperior a{
    color: rgba(3, 48, 89, 1); 
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 10px;
}

.ContainerHeaderSuperior a:hover{
   color: rgba(5, 131, 242, 1);
}

.ContainerHeaderSuperior img{
    width: 30px;
}

.ContainerHeaderSuperior_BtnAirbnb{
    border: 1px solid rgba(3, 48, 89, 1);
    padding: 5px 10px;
    border-radius: 20px;
}

.ContainerHeaderSuperior_BtnAirbnb:hover {
    border: 1px solid rgba(5, 131, 242, 1);
}

@media screen and (max-width: 768px){
    .ContainerHeaderSuperior p{
        display: none;
    }
    .ContainerHeaderSuperior_BtnAirbnb{
        border: none;
    }
    .ContainerHeaderSuperior_BtnAirbnb:hover {
        border:none;
    }
}

/*Configuração da capa princial geral*/

.ContainerSessInicial{
    background-image: url(../src/assets/images/ImgPiscinasNaturaisCAPA.jpg);
    background-position: center;
    background-size: cover;
}

/*header*/

header{
    width: 80vw;
    margin: auto;
    padding: 10px 0px;
}

header img{
    width: 70px;
}

/*Capa principal do site*/

.ContainerCapa{
    width: 80vw;
    margin: auto;
    padding: 10vh 0px;
}

.ContainerCapa h1{
    width: 100%;
    max-width: 750px;
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: 64px;
    color: white;
}

.ContainerCapa p{
    font-size: 16px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Numans', sans-serif;
    max-width: 600px;
    font-weight: 100;
}

.ContainerCapa a{
    background-color: rgba(115, 32, 2, 1);
    padding: 5px 20px;
    border: none;
    color: white;
    font-family: 'Numans', sans-serif;
    text-decoration: none;
    border-radius: 20px;
}

.ContainerCapa a:hover{
    background-color: rgb(138, 37, 0);
}

@media screen and (max-width: 768px){
    header img{
        width: 50px;
    }

    .ContainerCapa h1{
        font-size: 40px;
    }
    
    .ContainerCapa p{
        font-size: 14px;
    }
    
    .ContainerCapa a{
        font-size: 14px;
    }
}

/*Sessão sobre tecnologia*/

.ContainerTecnologia{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0px;
    flex-wrap: wrap;
}

.ContainerTecnologia img{
    width: 200px;
}

.ContainerTecnologia_Textos{
    width: 100%;
    max-width: 600px;
}

.ContainerTecnologia_Textos h2{
    font-family: 'Numans', sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 20px;
}

.ContainerTecnologia_Textos p{
    font-family: 'Numans', sans-serif;
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 20px;
}

.ContainerTecnologia_Textos a{
    color:rgba(4, 99, 7, 1) ;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.ContainerTecnologia_Textos a:hover{
    color:rgb(4, 122, 8) ;
}

@media screen and (max-width: 768px){
    .ContainerTecnologia{
        justify-content: start;
    }
    
    .ContainerTecnologia img{
        width: 200px;
    }
    
    .ContainerTecnologia_Textos h2{
        font-size: 16px;
    }
    
    .ContainerTecnologia_Textos p{
        font-size: 14px;
    }
    
    .ContainerTecnologia_Textos a{
        font-size: 12px;
    }
}

/*Sessão Fotos internas do apartamento*/

.ContainerFotosInternas{
    padding: 20px 0px;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ContainerFotosInternas_Textos h2{
    border-left: 3px solid rgba(5, 131, 242, 1);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Numans', sans-serif;
    font-weight: 100;
}

.ContainerFotosInternas_Textos_Subtitle{
    font-size: 16px;
    font-family: 'Numans', sans-serif;
    width: 100%;
    max-width: 550px;
    font-weight: 100;
    margin-bottom: 15px;
}

.ContainerFotosInternas_Textos_Info{
    font-size: 14px;
    color: rgba(111, 111, 111, 1);
    font-family: 'Nunito', sans-serif;
}

.ContainerFotosInternas_Imgs{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    margin: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(5, 131, 242, 0.5) transparent;
}

.ContainerFotosInternas_Imgs img{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .ContainerFotosInternas_Textos h2{
        font-size: 16px;
    }
    
    .ContainerFotosInternas_Textos_Subtitle{
        font-size: 14px;
    }
    
    .ContainerFotosInternas_Textos_Info{
        font-size: 12px;
    }
}
/*Sessão sobre informações*/

.ContainerInfos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0px;
    gap: 20px;
    width: 80vw;
    margin: auto;
}

.ContainerInfos_Info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: rgba(3, 48, 89, 1);
}

.ContainerInfos_Info img{
    width: 70px;
}


@media screen and (max-width: 768px){
    .ContainerInfos_Info{
        font-size: 14px;
    }
}

@media screen and (max-width: 900px){
    .ContainerInfos{
        justify-content: center;
    }
}

/*Sessão área de lazer*/

.ContainerAreaExterna{
    padding: 20px 0px;
    width: 80vw;
    margin: auto;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.ContainerAreaExterna_Textos h2{
    border-left: 3px solid rgba(5, 131, 242, 1);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Numans', sans-serif;
    font-weight: 100;
}

.ContainerAreaExterna_Textos_Subtitle{
    font-size: 16px;
    font-family: 'Numans', sans-serif;
    width: 100%;
    max-width: 550px;
    font-weight: 100;
    margin-bottom: 15px;
}

.ContainerAreaExterna_Textos_Info{
    font-size: 14px;
    color: rgba(111, 111, 111, 1);
    font-family: 'Nunito', sans-serif;
}

.ContainerAreaExterna_Textos ul{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Numans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ContainerAreaExterna_Imgs{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    scrollbar-width: thin;
    scrollbar-color: rgba(5, 131, 242, 0.5) transparent;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
}

.ContainerAreaExterna_Imgs img{
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .ContainerAreaExterna_Textos h2{
        font-size: 16px;
    }
    
    .ContainerAreaExterna_Textos_Subtitle{
        font-size: 14px;
    }
    
    .ContainerAreaExterna_Textos_Info{
        font-size: 12px;
    }
    
    .ContainerAreaExterna_Textos ul{
        font-size: 14px;
    }
}

@media screen and (max-width: 900px){
    .ContainerAreaExterna{
        flex-direction:column;
    }
}